@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    background-color: bisque;
}
img {
    width: 1000px;
    height: auto;
}

table {
    width: 100%;
    max-width: 1024px;
    height: 100px;
    table-layout: fixed;
    border-collapse: collapse;
    
}

thead tr {
    height: 50px;
    font-weight: 700;
}